{% extends '_base.html' %}
{% block page_content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                You have {{ shared_games|count }} games in common!
            </h1>
            <h4>
                Game library intersection of <strong>{{ steam_user.name }}</strong> and
                <strong>{{ steam_friends | map(attribute='name') | join(', ') }}</strong>
            </h4>
        </div>
    </div>
    <hr>
    <div class="container">
        {% for app_batch in shared_games|batch(3) %}
        <div class="row">
            {% for steam_app in app_batch %}
            {{ base_macros.steam_app_button(steam_app) }}
            {% endfor %}
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
